<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Ellipsis</title>
    <style>
        em {
            color: deeppink;
        }

        .textarea {
            width: 450px;
            height: 150px;
        }

        .text-container {
            display: inline-flex;
            background: #fb8500;
            padding: .15em 0 .15em .15em;
            border-radius: .35em;
            user-select: none;
        }

        .text-wrapper {
            background: white;
            border-radius: .3em;
            white-space: nowrap;
            height: 1.5em;
            line-height: 1.5em;
        }

        .resize-handler {
            width: .55em;
            cursor: col-resize;
            display: flex;
            align-items: center;
        }

        .resize-line {
            border-left: .15em solid white;
            margin-left: .2em;
            height: .65em;
            border-radius: .075em;
        }
    </style>
</head>

<body>
    <div id="app">
        <table>
            <tbody>
                <tr>
                    <td>Text:</td>
                    <td>
                        <textarea v-model="text" class="textarea" autofocus></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Ellipsis:</td>
                    <td>
                        <input v-model="ellipsis" />
                    </td>
                </tr>
                <tr>
                    <td>Offset Head:</td>
                    <td>
                        <input v-model="offsets[0]" type="range" /> {{offsets[0]}}
                    </td>
                </tr>
                <tr>
                    <td>Offset Tail:</td>
                    <td>
                        <input v-model="offsets[1]" type="range" /> {{offsets[1]}}
                    </td>
                </tr>
                <tr>
                    <td>Font Family:</td>
                    <td>
                        <input v-model="fontFamily" />
                    </td>
                </tr>
                <tr>
                    <td>Font Size:</td>
                    <td>
                        <input v-model="fontSize" type="range" min="14" max="100" /> {{fontSize}}px
                    </td>
                </tr>
                <tr>
                    <td>
                        Html? :
                    <td>
                        <input v-model="html" type="checkbox" />
                    </td>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="text-container" :style="{fontSize: fontSize + 'px', fontFamily}">
            <div class="text-wrapper" v-if="html" v-html="result.text" :style="{width: width + 'px'}"></div>
            <div class="text-wrapper" v-if="!html" :style="{width: width + 'px'}">{{result.text}}</div>
            <div class="resize-handler" @mousedown="onMouseDown">
                <div class="resize-line"></div>
            </div>
        </div>
        <div>Performance: {{result.performance}} ms</div>
    </div>
    <script type="importmap">
        {
            "imports": {
                "vue": "https://cdn.jsdelivr.net/npm/vue/dist/vue.esm-browser.js",
                "text-ellipsis2": "https://cdn.jsdelivr.net/npm/text-ellipsis2/es/index.js"
            }
        }
    </script>
    <script type="module">
        import { createApp } from 'vue';
        import ellipsis from 'text-ellipsis2';

        createApp({
            data() {
                return {
                    text: `床前<em>明月光</em>，
                    Before my bed <em>a pool of light</em>.
                    疑是<em>地上霜</em>。
                    Can it be <em>hoarfrost</em> on the ground?
                    <em>举头</em>望<em>明月</em>，
                    <em>Looking up</em>, I find the <em>moon bright</em>;
                    <em>低头</em>思<em>故乡</em>。
                    <em>Bowing</em>, in <em>homesickness</em> I'm <em>drowned</em>.`.replace(/\n\s*/g, ""),
                    width: 250,
                    ellipsis: "...",
                    offsets: [2, 13],
                    fontFamily: `-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'`,
                    fontSize: 28,
                    html: true,
                }
            },
            methods: {
                onMouseDown(e) {
                    const self = this;
                    const startX = e.clientX;
                    const currentWidth = this.width
                    function onMouseMove(e) {
                        self.width = currentWidth + e.clientX - startX;
                    }
                    function onMouseUp() {
                        window.removeEventListener("mousemove", onMouseMove);
                        window.removeEventListener("mouseup", onMouseUp);
                    }

                    window.addEventListener("mousemove", onMouseMove);
                    window.addEventListener("mouseup", onMouseUp);
                }
            },
            computed: {
                result() {
                    const before = performance.now()
                    const text = ellipsis(this.text, this.width, this.offsets, this.ellipsis, `${this.fontSize}px ${this.fontFamily}`, this.html)
                    return {
                        performance: performance.now() - before,
                        text
                    }
                }
            }
        }).mount('#app')
    </script>
</body>

</html>